@import url('global.css');

/* AvisoLegal.css */

h1 {
    font-size: 2.5rem;
    color: var(--color-rosa-oscuro);
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 1.8rem;
    color: var(--color-rosa-oscuro);
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    color: var(--color-texto);
    margin-bottom: 20px;
}