<<<<<<< HEAD
@import url('global.css');

/* VentaCancelacion.css */

h1 {
    font-size: 2.5rem;
    color: var(--color-rosa-oscuro);
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 1.8rem;
    color: var(--color-rosa-oscuro);
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    color: var(--color-texto);
    margin-bottom: 20px;
=======
@import url('global.css');

/* VentaCancelacion.css */

h1 {
    font-size: 2.5rem;
    color: var(--color-rosa-oscuro);
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 1.8rem;
    color: var(--color-rosa-oscuro);
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    color: var(--color-texto);
    margin-bottom: 20px;
>>>>>>> b547031ae9a4ad0d42d9ef5397e602618f7717f1
}