{% extends 'base.html.twig' %}

{% block body %}

    {% include '_header.html.twig' %}

    <!-- Contenido de Aviso Legal -->
    <section class="container my-5 legal" id="avisoLegal">
        <h1 class="text-center mb-4 titulo-legal">Aviso Legal</h1>
        <p>
            Este aviso legal establece las condiciones de uso del sitio web de Divertitartas.
            Al acceder y utilizar este sitio, aceptas cumplir con los términos y condiciones aquí descritos.
        </p>
        <h3 class="titulo2-legal">1. Propiedad Intelectual</h3>
        <p>
            Todo el contenido de este sitio web, incluyendo textos, imágenes, y diseños,
            está protegido por derechos de autor y es propiedad de Divertitartas.
        </p>
        <h3 class="titulo2-legal">2. Limitación de Responsabilidad</h3>
        <p>
            Divertitartas no se hace responsable de los daños derivados del uso de este sitio web
            o de la información contenida en él.
        </p>
        <h3 class="titulo2-legal">3. Enlaces Externos</h3>
        <p>
            Este sitio puede contener enlaces a sitios web de terceros. No tenemos control sobre
            el contenido de estos sitios y no asumimos responsabilidad por ellos.
        </p>
    </section>

    {% include '_footer.html.twig' %}

{% endblock %}