/* Importa el archivo global */
@import url('global.css');

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Hacer que el contenido principal ocupe el espacio restante */
main {
    flex: 1;
    padding-top: 100px; 
    padding-bottom: 100px;
}