{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

    {% include '_header.html.twig' %}

    <div id="mainIndex">
        {% if app.session.get('id') %}
            hola <a href="perfil/{{ id }}">{{ usuarioRegistrado }}</a>
            <form method="post" action="{{ path('login') }}">
                <button type="submit" name="logout">Cerrar sesión</button>
            </form>
        {% endif %}
    </div>

    {% include '_footer.html.twig' %}

{% endblock %}