{% extends 'base.admin.html.twig' %}

{% block body %}
    {% include "_header.admin.html.twig" %}
    <!-- Contenedor central donde se cargará el contenido -->
    <div class="board-container" id="main-content">
        <!-- Aquí se cargará el contenido dinámicamente -->
        {% if accion == 'usuarios' %}
            {% include "admin/gestion_usuarios.html.twig" %}
        {% elseif accion == 'comunicados' %}
            {% include "admin/comunicados.html.twig" %}
        {% elseif accion == 'proveedores' %}
            {% include "admin/proveedores.html.twig" %}
        {% elseif accion == 'contabilidad' %}
            {% include "admin/contabilidad.html.twig" %}
        {% elseif accion == 'pedidos' %}
            {% include "admin/pedidos.html.twig" %}
        {% elseif accion == 'stock' %}
            {% include "admin/stock.html.twig" %}
        {% elseif accion == 'configuracion' %}
            {% include "admin/configuracion.html.twig" %}
        {% else %}
            <p>Acción desconocida: {{ accion }}</p>
        {% endif %}
    </div>

{% endblock %}