
<div class="board-title text-center">
    CONFIGURACIÓN Y CONSULTA DE DATOS
</div>
<!-- Datos fiscales -->
<div class="mb-4">
    <div class="fw-bold mb-2" >DATOS FISCALES</div>
    <div class="table-responsive">
        <table class="table table-bordered align-middle mb-0">
            <tbody>
            <tr>
                <td>
                    <span class="fw-bold" >Dirección</span><br>
                    Avda. Constitución 17
                </td>
                <td>
                    <span class="fw-bold" >CIF:</span><br>
                    B99999999
                </td>
                <td>
                    <span class="fw-bold" >Teléfono:</span><br>
                    111111111
                </td>
                <td class="text-center">
                    <button class="btn btn-link p-0" title="Eliminar">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button class="btn btn-link p-0" title="Editar">
                        <i class="bi bi-pencil"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Tipo de impuesto añadido -->
<div class="mb-2">
    <div class="fw-bold mb-2">TIPO DE IMPUESTO AÑADIDO</div>
    <form>
        <div class="input-group mb-2" style="max-width: 120px;">
            <input type="number" class="form-control" placeholder="21" min="0" max="100" name="iva">
            <span class="input-group-text">%</span>
        </div>
        <button type="submit" class="btn btn-rosado btn-sm" style="box-shadow: 2px 2px 5px #b3b3b3;">Aplicar</button>
    </form>
</div>
</div>

