{% extends 'base.html.twig' %}

{% block title %}Pedidos | {{ parent() }}{% endblock %}

{% block body %}

    {% include '_header.html.twig' %}

    <!-- Contenido principal (envuelto en un contenedor flexible) -->
    <main class="flex-grow-1">
        <section class="container my-5 text-center">
            <h1 class="mb-4">¡Ups! Algo salió mal</h1>
            <p class="lead">Lo sentimos, la página que buscas no está disponible.</p>
            <a href="/" class="btn btn-primary">Volver al Inicio</a>
        </section>
    </main>

    {% include '_footer.html.twig' %}

{% endblock %}