{% extends 'base.html.twig' %}

{% block body %}
    <div id="header">
        <p class="headerItems">Quiénes somos</p>
        <p class="headerItems">Servicios</p>
        <p class="headerItems">Productos</p>
        <p class="headerItems">Contacto</p>
    </div>
{% endblock %}